<h1><%= @page_title %></h1>
<a class='small-button' href='#'>Fomotograph Me!</a>
<p class='summary'> <%= @product['summary'] %> </p>
<p class='summary'>Order your prints today for $<%= @product['price'] %></p>
<img class='full' src='<%= @product['url'] %>' />
<a class='small-button' href='/products/location/<%= @product['location'] %>'>
  View All <%= titlecase(params[:id]) %> Products
</a>
